<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
    <script src="https://kit.fontawesome.com/490a34c16f.js" crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form action="#" method="POST" th:action="@{/logout}">
            <button type="submit" class="btn btn-secondary float-right logout">
                <i class="far fa-sign-out-alt"></i> Logout
            </button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs my-3" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab"
                   aria-controls="nav-files" aria-selected="true">
                    <i class="far fa-file"></i> Files <span th:if="${!#lists.isEmpty(files)}" class="badge badge-dark"
                                                            th:text="${#lists.size(files)}"></span>
                </a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab"
                   aria-controls="nav-notes" aria-selected="false">
                    <i class="far fa-sticky-note"></i> Notes <span th:if="${!#lists.isEmpty(notes)}"
                                                                   class="badge badge-info"
                                                                   th:text="${#lists.size(notes)}"></span>
                </a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials"
                   role="tab" aria-controls="nav-credentials" aria-selected="false">
                    <i class="far fa-user-lock"></i> Credentials <span th:if="${!#lists.isEmpty(credentials)}"
                                                                       class="badge badge-info"
                                                                       th:text="${#lists.size(credentials)}"></span>
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <div th:if="${errorMessage != null}" class="alert alert-danger">
                    <i class="fas fa-exclamation-circle"></i> <span th:text="${errorMessage}"></span>
                </div>
                <div th:if="${param.errorMessage != null}" class="alert alert-danger">
                    <i class="fas fa-exclamation-circle"></i> <span th:text="${param.errorMessage}"></span>
                </div>
                <div th:if="${param.successUpload != null}" class="alert alert-success my-3">
                    <i class="far fa-check-circle"></i> <span th:text="${param.successUpload}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times"></i></span>
                    </button>
                </div>
                <div th:if="${fileDeleteSuccess != null}" class="alert alert-success my-3">
                    <i class="far fa-check-circle"></i>
                    <span th:text="${fileDeleteSuccess}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times"></i></span>
                    </button>
                </div>
                <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/file-upload}">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-4">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-dark">
                                    <i class="far fa-upload"></i> Upload
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 80%" scope="col">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file, stat: ${files}">
                            <td>
                                <a href="#" th:href="@{/files/{id}(id=${file.getFileId()})}" target="_blank"
                                   class="btn btn-success" role="button">
                                    View
                                </a>
                                <a href="#" th:href="@{/files/{id}/delete(id=${file.getFileId()})}"
                                   class="btn btn-danger" role="button">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </td>
                            <th scope="row" th:text="${file.getFileName()}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="fileDeleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="fileModalLabel" aria-hidden="true" th:if="${currentFile != null}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="fileDeleteLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="far fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST"
                                      th:action="@{/files/{id}/delete(id=${currentFile.getFileId()})}"
                                      th:object="${currentFile}">
                                    <input type="hidden" name="fileId" id="deleted-filed-id" th:field="*{fileId}">
                                    <div class="alert alert-warning" role="alert">
                                        The file <span class="h5" id="deleted-file-name" th:text="*{fileName}"></span>
                                        will be deleted permanently. Are you sure?
                                    </div>
                                    <button id="deletedFileSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="far fa-times"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-danger" onclick="$('#deletedFileSubmit').click();">
                                    <i class="far fa-trash-alt"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <div th:if="${null != param.noteSuccess}" class="alert alert-dismissible fade show"
                     th:classappend="${param.noteSuccess ? 'alert-success' : 'alert-danger'}">
                    <i class="fas fa-fw fa-exclamation-circle"></i> <span th:text="${param.noteErrorMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times"></i></span>
                    </button>
                </div>
                <button style="margin: 0.25em; display: flex; align-items: center" type="button"
                        class="btn btn-info float-right add-note"
                        onclick="showNoteModal()">
                    <span class="fa-stack" style="font-size: .9em">
                        <i class="far fa-sticky-note fa-stack-2x"></i>
                        <i class="far fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>
                        Add a New Note
                    </span>
                </button>

                <div class="table-responsive">
                    <h5 th:if="${#lists.isEmpty(notes)}" class="text-info">
                        Create a note to remind yourself
                    </h5>
                    <table class="table table-striped" id="noteTable">
                        <thead>
                        <tr>
                            <th style="width: 25%" scope="col"></th>
                            <th style="width: 20%" scope="col">Title</th>
                            <th style="width: 55%" scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="note, stat: ${notes}" th:data-id="${note.noteId}" class="note-item-row">
                            <td>
                                <a href="#" target="_blank" class="btn btn-success note-edit" role="button"
                                   th:data-description="${note.noteDescription}" th:data-id="${note.noteId}"
                                   th:data-title="${note.noteTitle}">
                                    <i class="far fa-edit"></i> Edit
                                </a>
                                <a href="#" class="btn btn-danger note-delete" role="button" th:data-id="${note.noteId}"
                                   th:data-title="${note.noteTitle}">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </td>
                            <th scope="row" th:text="${note.getNoteTitle()}" class="note-item-title"></th>
                            <td th:text="${note.getNoteDescription()}" class="note-item-description"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog"
                     aria-labelledby="noteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST" th:action="@{/notes}" th:object="${newNote}">
                                    <input type="hidden" name="noteId" id="note-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input type="text" name="noteTitle" class="form-control" id="note-title"
                                               maxlength="20" required th:field="*{noteTitle}">
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea class="form-control" name="noteDescription" id="note-description"
                                                  rows="5" maxlength="1000" required
                                                  th:field="*{noteDescription}"></textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">
                                    <i class="far fa-times"></i> Close
                                </button>
                                <button type="button" class="btn btn-primary save-note" onclick="$('#noteSubmit').click();">
                                    <i class="far fa-save"></i> Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog"
                     aria-labelledby="noteDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteDeleteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST"
                                      th:action="@{/notes(action='delete')}" th:object="${newNote}">
                                    <input type="hidden" name="noteId" id="deleted-note-id" th:field="*{noteId}">
                                    <div class="alert alert-warning" role="alert">
                                        The note <span class="h5" id="deleted-note-title"></span> will be deleted
                                        permanently. Are you sure?
                                    </div>
                                    <button id="deletedNoteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="far fa-times"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-danger note-delete" onclick="$('#deletedNoteSubmit').click();">
                                    <i class="far fa-trash-alt"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <div th:if="${null != param.credentialSuccess}" class="alert alert-dismissible fade show"
                     th:classappend="${param.credentialSuccess ? 'alert-success' : 'alert-danger'}">
                    <i class="fas fa-fw fa-exclamation-circle"></i> <span
                        th:text="${param.credentialErrorMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times"></i></span>
                    </button>
                </div>
                <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                        onclick="showCredentialModal()">
                    <i class="far fa-user-plus"></i> Add a New Credential
                </button>

                <div class="table-responsive">
                    <h5 th:if="${#lists.isEmpty(credentials)}" class="text-info">
                        Create a credential item to save your password
                    </h5>
                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="credential, stat: ${credentials}">
                            <td>
                                <a href="credentials" th:href="@{/credentials/{id}(id=${credential.getCredentialId()})}"
                                   class="btn btn-success note-edit" role="button"
                                   th:data-description="${credential.getUsername()}"
                                   th:data-id="${credential.getCredentialId()}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-danger credential-delete" role="button"
                                   th:data-id="${credential.getCredentialId()}"
                                   th:data-title="${credential.getUrl()}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                            <th scope="row">
                                <a th:href="${credential.getUrl()}" th:text="${credential.getUrl()}"></a>
                            </th>
                            <td scope="row" th:text="${credential.getUsername()}"></td>
                            <td scope="row" th:text="${credential.getPassword()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog"
                     aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="far fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body" id="credential-form">
                                <form action="#" th:action="@{/credentials}" method="POST" th:object="${newCredential}">
                                    <input type="hidden" name="credentialId" id="credential-id" autofocus required>
                                    <div class="form-group">
                                        <label for="credential-url" class="col-form-label">URL</label>
                                        <input type="text" name="url" class="form-control" id="credential-url"
                                               maxlength="100" required data-field="url"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-username" class="col-form-label">Username</label>
                                        <input type="text" name="username" class="form-control" id="credential-username"
                                               maxlength="30" required data-field="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-password" class="col-form-label">Password</label>
                                        <input type="text" name="password" class="form-control" id="credential-password"
                                               maxlength="30" required data-field="password"/>
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="far fa-times"></i> Close
                                </button>
                                <button type="button" class="btn btn-primary" id="credential-submit"
                                        onclick="$('#credentialSubmit').click();">
                                    <i class="far fa-save"></i> Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="credentialUpdateModal" tabindex="-1" role="dialog"
                     aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialUpdateModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="far fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body" id="credential-update-form">
                                <form action="#" th:action="@{/credentials}" method="POST"
                                      th:object="${currentCredential}">
                                    <input type="hidden" name="credentialId" id="credential-update-id"
                                           autofocus required th:field="*{credentialId}">
                                    <div class="form-group">
                                        <label for="credential-update-url" class="col-form-label">URL</label>
                                        <input type="text" name="url" class="form-control" id="credential-update-url"
                                               maxlength="100" required data-field="url" th:field="*{url}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-update-username" class="col-form-label">Username</label>
                                        <input type="text" name="username" class="form-control"
                                               id="credential-update-username"
                                               maxlength="30" required data-field="username" th:field="*{username}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="credential-update-password" class="col-form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                               id="credential-update-password" th:field="*{rawPassword}"
                                               maxlength="30" required data-field="password"/>
                                    </div>
                                    <button id="credentialUpdateSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="far fa-times"></i> Close
                                </button>
                                <button type="button" class="btn btn-primary" id="credential-update-submit"
                                        onclick="$('#credentialUpdateSubmit').click();">
                                    <i class="far fa-save"></i> Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteCredentialModal" tabindex="-1" role="dialog"
                     aria-labelledby="noteDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialDeleteModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST"
                                      th:action="@{/credentials(action='delete')}" th:object="${newCredential}">
                                    <input type="hidden" name="credentialId" id="deleted-credential-id">
                                    <div class="alert alert-warning" role="alert">
                                        The credential for website <span class="h5"
                                                                         id="deleted-credential-title"></span> will be
                                        deleted
                                        permanently. Are you sure?
                                    </div>
                                    <button id="deletedCredentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="far fa-times"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-danger"
                                        onclick="$('#deletedCredentialSubmit').click();">
                                    <i class="far fa-trash-alt"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    // Activates the selected tab
    /*<![CDATA[*/
    const activeTabName = /*[[${param.active}]]*/ 'files';
    $(`#nav-tab #nav-${activeTabName}-tab`).tab('show');
    /*]]>*/
    /*<![CDATA[*/
    const showCredentialUpdate = /*[[${param.currentCredential}]]*/ null;
    console.log(showCredentialUpdate);
    /*]]>*/
    /*<![CDATA[*/
    const showFileDelete = /*[[${param.fileId}]]*/ null;
    console.log(showFileDelete);
    /*]]>*/
</script>
<!--For opening the note modal-->
<script type="text/javascript">

    function updateFormAction(jqueryForm, id) {
        const currentAction = jqueryForm.attr('action');
        if (currentAction.indexOf('?') >= 0) {
            let components = currentAction.split('?');
            if (2 === components.length) {
                const newParams = components[1].split('&').map(item => {
                    if (item.indexOf('id') >= 0) {
                        return `id=${id}`
                    }
                    return item;
                }).join('&');
                if (newParams === components[1] && newParams.indexOf('id') < 0) {
                    components[1] = `${components[1]}&id=${id}`;
                }
                jqueryForm.attr('action', components.join('?'))
            } else {
                jqueryForm.attr('action', `${currentAction}?id=${id}`)
            }
        } else {
            jqueryForm.attr('action', `${currentAction}?id=${id}`)
        }
    }

    // For opening the note modal
    function showNoteModal(noteId, noteTitle, noteDescription) {
        $('#note-id').val(noteId ? noteId : '');
        $('#note-title').val(noteTitle ? noteTitle : '');
        $('#note-description').val(noteDescription ? noteDescription : '');
        const $modal = $('#noteModal');
        $modal.on('shown.bs.modal', function (e) {
            if (noteId) {
                updateFormAction($modal.find('form'), noteId);
            }
        }).on('hidden.bs.modal', function () {
            $modal.off('shown.bs.modal');
        });
        $modal.modal('show');
    }

    function showDeleteNoteModal(noteId, noteTitle) {
        $('#deleted-note-id').val(noteId ? noteId : '');
        $('#deleted-note-title').text(noteTitle ? noteTitle : '');

        const $modal = $('#deleteNoteModal');
        $modal.on('shown.bs.modal', function (e) {
            if (noteId) {
                updateFormAction($modal.find('form'), noteId);
            }
        }).on('hidden.bs.modal', function () {
            $modal.off('shown.bs.modal');
        });
        $modal.modal('show');
    }

    function showDeleteCredentialModal(id, title) {
        $('#deleted-credential-id').val(id ? id : '');
        $('#deleted-credential-title').text(title ? title : '');

        const $modal = $('#deleteCredentialModal');
        $modal.on('shown.bs.modal', function (e) {
            if (id) {
                updateFormAction($modal.find('form'), id);
            }
        }).on('hidden.bs.modal', function () {
            $modal.off('shown.bs.modal');
        });
        $modal.modal('show');
    }

    // For opening the credentials modal
    function showCredentialModal(credentialId, url, username, password) {
        const $urlInput = $('#credential-url');
        const $submitButton = $('#credential-submit');
        const $modalEl = $('#credentialModal')
        let formValid = false;
        let credentialModel = {
            url: null,
            username: null,
            password: null
        };
        // Sets initial value
        $('#credential-id').val(credentialId ? credentialId : '');
        $urlInput.val(url ? url : '');
        $('#credential-username').val(username ? username : '');
        $('#credential-password').val(password ? password : '');
        // Sets up events
        $('#credential-form').on('input', 'input', function (e) {
            credentialModel = {...credentialModel, [e.target.name]: e.target.value};
            formValid = credentialModel.url && credentialModel.username && credentialModel.password;
            $submitButton.prop('disabled', !formValid);
        });
        // Sets form initial state
        $modalEl.on('shown.bs.modal', function () {
            $urlInput.focus();
            $submitButton.prop('disabled', true);
        }).on('hidden.bs.modal', function () {
            $modalEl.off('shown.bs.modal');
        });
        // Shows form
        $modalEl.modal('show');
    }

    // For showing the edit modal
    $('#noteTable').on('click', 'a.note-edit', function (event) {
        event.preventDefault();
        event.stopPropagation();
        const {id, description, title} = $(this).data();
        showNoteModal(id, title, description);
    }).on('click', 'a.note-delete', function (event) {
        event.preventDefault();
        event.stopPropagation();
        const {id, title} = $(this).data();
        showDeleteNoteModal(id, title);
    });

    $('#credentialTable').on('click', 'a.credential-delete', function (event) {
        event.preventDefault();
        event.stopPropagation();
        const {id, title} = $(this).data();
        showDeleteCredentialModal(id, title);
    });

    if (showCredentialUpdate) {
        const $modal = $('#credentialUpdateModal');
        $modal.modal('show');
    }

    if (showFileDelete) {
        const $modal = $('#fileDeleteModal');
        $modal.modal('show');
    }
</script>
</body>
</html>
